
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

:root{
  --blue1: #404eed;
  --white1: #fff;
  --black1: #000;
  --black2: #23272a;
  --black3: #36393f;
}


/* tela para tablet */

@media (min-width: 768px) and (max-width:992px){
  
  .header-body{
    background-color: orange;
  }

}



/* tela para desktop */

@media (min-width: 992px){

  .header-body{
    background-color: green;
  }

  .nav-menu{
    display: none;
  }
  
  .nav-list{
    display: block;
  }

  .nav-list ul{
  display: flex;
  flex-direction: row;
 
}

.nav-list ul li{
  margin-right: 30px;
}

.mobile-img{
  display: none;
}

}

