
/* tela para celulares */

:root{
  --blue1: #404eed;
  --white1: #fff;
  --black1: #000;
  --black2: #23272a;
  --black3: #36393f;
}



@media (min-width: 320px) and (max-width:600px){

    .nav-list{
      display: none;
    }

    .nav-logo img{
      width: 120px;
    }

    .nav-menu{
      display: block;
      font-size: 2em;
    }

    .nav-menu a{
      color: var(--white1);
    }

    .nav-body{
      padding: 30px 25px;
    }

    .nav-botoes{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
  
    }

    .nav-button a{
      padding: 10px 15px;
      justify-content: end;
      font-size: 13px;
    }

    .header-text{
   /*    display: none; */
    }

    .header-body{
      background-color: var(--blue1);
      width: 100%;
    }


    
.header-text {
  width: 90%;
  height: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.header-text-main{
  font-size: 5vw;
  text-align: left;

}

.header-text-para{
  line-height: 1.7;
  font-size: 15.4px;
  text-align: left;
}

.header-button{
  margin-top: 20px;
  align-items: flex-start;
}

.header-button-1 a i{
 margin-right: 10px;
}




.mobile-img{
      height: 750px;
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

    

    }

    
}