
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

:root{
  --blue1: #404eed;
  --white1: #fff;
  --black1: #000;
  --black2: #23272a;
  --black3: #36393f;
}


/* tela para tablet */

@media (min-width: 768px) and (max-width:999px){
  
  .header-body{
    background-color: var(--blue1);
    background-image: url(../imagens/c40c84ca18d84633a9d86b4046a91437.svg), url(../imagens/e6d57714479874c665b36c7adee76b1d.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 135% 100%, bottom center;
  
  
    
  }

  .mobile-img{
    display: none;
  }

  .header-text{
    width: 100%;
  }

  .header-text-main{
    padding-left: 40px;
    width: 40%;
    font-size: 6vw;
  }

 .header-text-para{
    width: 60%;
    padding-left: 40px;
    margin-bottom: 20px;
  }

  .header-button{
    padding-left: 40px;
  }


}



/* tela para desktop */

@media (min-width: 1000px){

  .header-body{
    background-color: var(--blue1);
    background-image: url(../imagens/e6d57714479874c665b36c7adee76b1d.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
  }



  .nav-logo img{
    width: 125px;
  }

  .nav-button a {
    padding: 15px 20px;
    font-size: 12px;
  }

  .nav-body{
    align-items: center;
    max-width: 1300px;
    margin: auto;
   
  }

 


  .nav-menu{
    display: none;
  }
  
  .nav-list{
    display: block;
  }

  .nav-list ul{
  display: flex;
  flex-direction: row;
 
}

.nav-list ul li{
  margin-right: 35px;
}

.nav-list ul li a{
  color: var(--white1);
  font-size: 15px;
  font-weight: bold;
}

.nav-list ul li a:hover{
  text-decoration: underline;
}

.mobile-img{
  display: none;
}

.header-text{
  
  width: 50%;
  margin-top: 90px;
  max-width: 1300px;


}

.header-text-main{
  font-size: 3em;
  text-align: center;

}

.header-text-para{
  line-height: 1.7;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.header-button{
  align-items: center;
}


}

