:root{
  --blue1: #404eed;
  --blue2: #83b7f4;
  --blue3: #5865f2;
  --blue4: #7983f5;
  --white1: #fff;
  --black1: #000;
  --black2: #23272a;
  --black3: #36393f;
  --black4: #23272a;
  --gray1: #f6f6f6;
}



.header-body {
   background: linear-gradient(to bottom, #4262dd, #e28aca);
   height: 1420px;
}

.myNav {
  position: sticky;
  top: 0;
}

.header-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

.header-imagem {
  text-align: center;
}

.header-imagem img{
  width: 300px;
 
}

 .header-titulo {
 color: #fff;
 font-family: 'Seymour One', sans-serif;
 font-size: 1.8em;
 text-align: center;
 line-height: 1;

}


.header-p {
  color: #fff;
  line-height: 1.5;
  font-size: 15px;
  text-align: center;

}

.header-cards {

}

.header-card {
  height: 360px;
  width: 90%;
  margin: auto;
  background-color: red;
  border-radius: 10px;
  margin-bottom: 50px;

}


.header-card.-blue {
  background: linear-gradient(to right bottom, #007cc2, #5466f0); 
 
}

.header-card.-purple {
  background: linear-gradient(to left bottom, #8547c6, #ab5d8a);
}

.card-title {
  width: 200px;
}

.card-title2 {
  width: 100px;
}


.card-wrapper {
  position: relative;
  padding: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card-up {
  display: flex;
  flex-direction: row;
}

.card-emo {
  display: flex;
  flex-direction: row;
}

.card-up, .card-emo {
  gap: 15px;
}

.card-emble {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-emble img {
  width: 15px;
  margin: auto;
}

.card-button {

  height: 50px;
  width: 100%;
  background-color: #ffff;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  color: #000;
  font-size: 18px;
  transition: all .3s ease-in-out;

}

.card-button:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  color: var(--blue1);
}

