

.header-body {
   background: linear-gradient(to bottom, #4262dd, #e28aca);
   height: 1420px;
}

.myNav {
  position: sticky;
  top: 0;
}

.header-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

.header-imagem {
  text-align: center;
}

.header-imagem img{
  width: 300px;
 
}

 .header-titulo {
 color: #fff;
 font-family: 'Seymour One', sans-serif;
 font-size: 1.8em;
 text-align: center;
 line-height: 1;

}


.header-p {
  color: #fff;
  line-height: 1.5;
  font-size: 15px;
  text-align: center;

}

.header-cards {

}

.header-card {
  height: 360px;
  width: 90%;
  margin: auto;
  background-color: red;
  border-radius: 10px;
  margin-bottom: 50px;

}


.header-card.-blue {
  background: linear-gradient(to right bottom, #007cc2, #5466f0); 
 
}

.header-card.-purple {
  background: linear-gradient(to left bottom, #8547c6, #ab5d8a);
}

.card-title {
  width: 200px;
}

.card-wrapper {
  padding: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card-up {
  display: flex;
  flex-direction: row;
}

.card-emo {
  display: flex;
  flex-direction: row;
}

.card-up, .card-emo {
  gap: 15px;
}

.card-emble {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-emble img {
  width: 15px;
  margin: auto;
}

.card-button {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end
}
