@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

/* Configs padrão.
  retirando as margins e paddings padrao dos elementos
 */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

/*  definindo variaveis de cores */

:root{
  --blue1: #404eed;
  --white1: #fff;
  --black1: #000;
  --black2: #23272a;
  --black3: #36393f;
}

/* Mudando a fonte da pagina */

html, body{
  font-family: Arial, Helvetica, sans-serif;
}

/* configs do header */

.header-body{
  height: 750px;
  background-color: var(--blue1);
  position: relative;

}

/*  configs do nav */

.nav-body{
  display: flex;
  flex-direction: row;
  padding: 30px 40px;
  justify-content: space-between;
  text-align: center;
}

/* logo do nav */

.nav-logo img{
  width: 120px;
}

/* desabilitando a list do nav */

.nav-list{
  display: none;
}


/* configs dos elementos ativos do nav */

.nav-botoes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


/* configs do botão login do nav */

.nav-button a {
  padding: 10px 15px;
  border-radius: 50px;
  background-color: var(--white1);
  color: var(--black1);
  font-size: 13px;
  font-weight: bold;
  margin-right: 50px;
  transition: all .3s ease;
}

/*  efeito do botao login do nav */

.nav-button a:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  color: var(--blue1);
}


/* mostrando o menu hamburguer na tela*/
.nav-menu{
  display: block;
}

/*  configs do menu hamburguer */
.nav-menu a{
  color: var(--white1);
  font-size: 2em;
}


/* configs de conteudo do header */

.header-text {
  position:relative;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
 
}

/* configs gerais da parte textual do header */

.header-text-main, .header-text-para{
  color: var(--white1);
  text-align: left;
}

/* texto principal do header */

.header-text-main{
  font-family: 'Seymour One', sans-serif;
  text-transform: uppercase;
  font-size: 5vw;
}

/* paragrafo do header */

.header-text-para{
  line-height: 1.7;
  font-size: 15.4px;
}

/* agrupamento de 2 botões */

.header-button{
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 20px;
}

/*  peso da fonte do btn */

.header-button a {
  font-weight: bold;
}

/* botão de download do windows */

.header-button-1 a{
  border: none;
  padding: 20px 50px;
  border-radius: 50px;
  background-color: var(--white1);
  transition: all .3s ease;
}

/* cor do texto do botao de download */

.header-button-1 a{
  color: var(--black1);
}

/* margin do icone do btn download */

.header-button-1 a i{
  margin-right: 10px;
  }

  /* hover do botao download */

  .header-button-1 a:hover {
    color: var(--blue1);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }


  /* botao abrir discord no navegador  */

  .header-button-2 a{
    border: none;
    padding: 20px 50px;
    border-radius: 50px;
    background-color: var(--black2);
    transition: all .3s ease;
  }
  
  /* cor do texto btn disc navegador */

  .header-button-2 a{
    color: var(--white1);
  }

/* hover do btn disc navegador */
.header-button-2 a:hover{
  background-color: var(--black3) ;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* img do header */

.mobile-img{
  padding: 10px;
  position:absolute;
  bottom: -14px;
  left: -80px;

}

.mobile-img img{
  width: 95vw;
}



main{
  height: 500px;
  background-color: var(--white1)
}